@import '../../styles/variables.scss';

.postCard {
  background-color: $neutral-color-52;
  color: $neutral-color-71;
  overflow: hidden;
  max-width: 768px;
  margin: 1rem auto;
  height: 150px !important;
  padding: 1.5rem;

  & > .cardBody {
    width: 100%;

    .cardTitle {
      overflow: hidden;
      text-overflow: ellipsis;
      height: 1.2em;
      white-space: nowrap;
    }

    .cardText {
      display: block;
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @media screen and (max-width: 575px) {
    height: 180px !important;
    border-radius: 0;

    & > * .cardText {
      -webkit-line-clamp: 2;
      margin-bottom: 1rem;
    }
  }

  // @media screen and (max-width: 320px) {
  //   height: 200px !important;
  // }
}
