table.custom-table-posts {
  border: 1px solid rgb(200, 199, 199);
  & > * {
    th {
      vertical-align: middle;
      padding: 4px !important;
      text-align: center;
    }

    td {
      width: auto !important;
      padding: 4px !important;

      vertical-align: middle;
      overflow: hidden; /* Hide overflow content */
      text-overflow: ellipsis; /* Add ellipsis for long text */
    }

    & .column-description {
      min-width: 150px;
      word-wrap: break-word;
      text-wrap: wrap;
    }

    & .column-sector {
      max-width: 120px;
    }
    & .column-unit {
      max-width: 75px;
    }
    & .column-lastPrice {
      max-width: 70px;
    }
  }
}
