$bold-color: #01b6ad;
$neutral-color-01: #0a4958;
$neutral-color-02: rgb(36, 102, 117);

$neutral-color-51: #ffffff;
$neutral-color-52: rgb(240, 240, 240);
$neutral-color-53: rgb(192, 190, 190);

$neutral-color-71: black;
