@import '../styles/variables.scss';

.main-container {
  margin-top: 2rem;
  padding: 1rem 1rem 2rem 1rem;

  @media screen and (max-width: 420px) {
    padding: 0.5rem 0 1rem 0;
    margin: 0;
    margin-top: 2rem;
  }
}

.card {
  color: $neutral-color-51;
  font-weight: 600;
  height: 120px;
  margin: 1rem 0 0 0;
  padding: 1rem 0.2rem 1rem 0.2rem;
  display: flex;
  justify-content: center;
  background-color: $bold-color;

  align-items: center;

  & .card-body {
    padding: 0;
    @media screen and (max-width: 306px) {
      display: none;
    }
  }

  @media screen and (max-width: 306px) {
    height: 80px;
  }
}
