@import '../styles/variables.scss';

.container-form {
  color: $neutral-color-71;
  padding: 2rem;
  margin: 1rem auto 1rem auto;
  background-color: $neutral-color-52;
  max-width: 520px;

  @media screen and (max-width: 420px) {
    padding: 1rem;
  }
}
