@import '../styles/variables.scss';

.input-pagination {
  width: 120px;
  & > * {
    & input {
      text-align: center;
    }
  }
}

.nav-pagination {
  & > .pagination {
    & > * {
      & .page-link {
        background-color: $neutral-color-51;
        color: $neutral-color-71;
        box-shadow: none;

        &:focus,
        &:hover,
        & > span:focus,
        & > span:hover {
          background-color: $neutral-color-51;
          color: $bold-color;
          text-decoration: underline;
        }

        &.active {
          color: $neutral-color-51;
          background-color: $bold-color !important;
          border: solid 1px $bold-color !important;
        }
      }
    }
  }
}
